Repository rancher/rancher-docs, pull requests merged in 2024-08, with the labels that each got.

#1369 [2.9.0] add external cloud provider docs for azure
  docs/how-to-guides/new-user-guides/kubernetes-clusters-in-rancher-setup/migrate-to-an-out-of-tree-cloud-provider/migrate-to-out-of-tree-azure.md
  docs/how-to-guides/new-user-guides/kubernetes-clusters-in-rancher-setup/set-up-cloud-providers/amazon.md
  docs/how-to-guides/new-user-guides/kubernetes-clusters-in-rancher-setup/set-up-cloud-providers/azure.md
  sidebars.js
  versioned_docs/version-2.9/how-to-guides/new-user-guides/kubernetes-clusters-in-rancher-setup/migrate-to-an-out-of-tree-cloud-provider/migrate-to-out-of-tree-azure.md
  versioned_docs/version-2.9/how-to-guides/new-user-guides/kubernetes-clusters-in-rancher-setup/set-up-cloud-providers/amazon.md
  versioned_docs/version-2.9/how-to-guides/new-user-guides/kubernetes-clusters-in-rancher-setup/set-up-cloud-providers/azure.md
  versioned_sidebars/version-2.9-sidebars.json
Labels: MERGE ON RELEASE, /docs file changed

#1377 [2.9.0] #1364 New installation requirement: http/2
  docs/getting-started/installation-and-upgrade/installation-requirements/installation-requirements.md
  versioned_docs/version-2.9/getting-started/installation-and-upgrade/installation-requirements/installation-requirements.md
Labels: MERGE ON RELEASE, /docs file changed, /versioned-docs file changed

#1378 [2.9.0] Adding docs for agent-tls-mode
  docs/getting-started/installation-and-upgrade/install-upgrade-on-a-kubernetes-cluster/install-upgrade-on-a-kubernetes-cluster.md
  docs/getting-started/installation-and-upgrade/install-upgrade-on-a-kubernetes-cluster/troubleshooting.md
  docs/getting-started/installation-and-upgrade/installation-references/helm-chart-options.md
  docs/getting-started/installation-and-upgrade/installation-references/tls-settings.md
  versioned_docs/version-2.8/getting-started/installation-and-upgrade/install-upgrade-on-a-kubernetes-cluster/install-upgrade-on-a-kubernetes-cluster.md
  versioned_docs/version-2.8/getting-started/installation-and-upgrade/install-upgrade-on-a-kubernetes-cluster/troubleshooting.md
  versioned_docs/version-2.8/getting-started/installation-and-upgrade/installation-references/helm-chart-options.md
  versioned_docs/version-2.8/getting-started/installation-and-upgrade/installation-references/tls-settings.md
  versioned_docs/version-2.9/getting-started/installation-and-upgrade/install-upgrade-on-a-kubernetes-cluster/install-upgrade-on-a-kubernetes-cluster.md
  versioned_docs/version-2.9/getting-started/installation-and-upgrade/install-upgrade-on-a-kubernetes-cluster/troubleshooting.md
  versioned_docs/version-2.9/getting-started/installation-and-upgrade/installation-references/helm-chart-options.md
  versioned_docs/version-2.9/getting-started/installation-and-upgrade/installation-references/tls-settings.md
Labels: MERGE ON RELEASE, /docs file changed, /versioned-docs file changed

#1384 [2.9.0] Add known bugs section in Helm Charts page
  docs/how-to-guides/new-user-guides/helm-charts-in-rancher/helm-charts-in-rancher.md
  versioned_docs/version-2.9/how-to-guides/new-user-guides/helm-charts-in-rancher/helm-charts-in-rancher.md
Labels: MERGE ON RELEASE, /docs file changed, /versioned-docs file changed

#1392 [2.9.0] Add docs for the Generic OIDC authentication provider
  docs/how-to-guides/new-user-guides/authentication-permissions-and-global-configuration/authentication-config/authentication-config.md
  docs/how-to-guides/new-user-guides/authentication-permissions-and-global-configuration/authentication-config/configure-generic-oidc.md
  sidebars.js
  versioned_docs/version-2.9/how-to-guides/new-user-guides/authentication-permissions-and-global-configuration/authentication-config/authentication-config.md
  versioned_docs/version-2.9/how-to-guides/new-user-guides/authentication-permissions-and-global-configuration/authentication-config/configure-generic-oidc.md
  versioned_sidebars/version-2.9-sidebars.json
Labels: MERGE ON RELEASE, /docs file changed, /versioned-docs file changed

#1394 [2.9.0] 1370 optional filter on azuread auth group memberships
  docs/how-to-guides/new-user-guides/authentication-permissions-and-global-configuration/authentication-config/configure-azure-ad.md
  static/img/auth-setup-azure-ad-filter.png
  versioned_docs/version-2.9/how-to-guides/new-user-guides/authentication-permissions-and-global-configuration/authentication-config/configure-azure-ad.md
Labels: MERGE ON RELEASE, /docs file changed

#1395 Add Versions Table - v2.9.0
  src/pages/versions.md
Labels: MERGE ON RELEASE

#1399 Update Webhook Table - v2.9.0 / Latest
  docs/reference-guides/rancher-webhook.md
  versioned_docs/version-2.9/reference-guides/rancher-webhook.md
Labels: MERGE ON RELEASE, /docs file changed, /versioned-docs file changed

#1400 Add SRIOV chart deprecation and migration info
  docs/how-to-guides/new-user-guides/helm-charts-in-rancher/helm-charts-in-rancher.md
  versioned_docs/version-2.9/how-to-guides/new-user-guides/helm-charts-in-rancher/helm-charts-in-rancher.md
Labels: MERGE ON RELEASE, /docs file changed, /versioned-docs file changed

#1402 [2.9.0] 1373 support authentication with service account tokens
  docs/how-to-guides/new-user-guides/authentication-permissions-and-global-configuration/jwt-authentication.md
  sidebars.js
  versioned_docs/version-2.9/how-to-guides/new-user-guides/authentication-permissions-and-global-configuration/jwt-authentication.md
  versioned_sidebars/version-2.9-sidebars.json
Labels: MERGE ON RELEASE, /docs file changed, /versioned-docs file changed

#1407 Update CSP Adapter Table - v2.9.0
  docs/integrations-in-rancher/cloud-marketplace/aws-cloud-marketplace/install-adapter.md
  versioned_docs/version-2.9/integrations-in-rancher/cloud-marketplace/aws-cloud-marketplace/install-adapter.md
Labels: MERGE ON RELEASE, /docs file changed, /versioned-docs file changed

#1412 Update Deprecated Features Table - v2.9.0
  docs/faq/deprecated-features.md
  versioned_docs/version-2.9/faq/deprecated-features.md
Labels: MERGE ON RELEASE

#1415 Update CNI Table Data - v2.9.0
  shared-files/_cni-popularity.md
Labels: MERGE ON RELEASE

#1361 [2.9.0] Feature Flag - external-rules
  docs/getting-started/installation-and-upgrade/installation-references/feature-flags.md
  docs/how-to-guides/new-user-guides/authentication-permissions-and-global-configuration/manage-role-based-access-control-rbac/cluster-and-project-roles.md
  versioned_docs/version-2.9/getting-started/installation-and-upgrade/installation-references/feature-flags.md
  versioned_docs/version-2.9/how-to-guides/new-user-guides/authentication-permissions-and-global-configuration/manage-role-based-access-control-rbac/cluster-and-project-roles.md
Labels: MERGE ON RELEASE, /docs file changed, /versioned-docs file changed

#1413 [2.9.0] #1403 update feature flags - uiextension
  docs/getting-started/installation-and-upgrade/installation-references/feature-flags.md
  versioned_docs/version-2.9/getting-started/installation-and-upgrade/installation-references/feature-flags.md
Labels: MERGE ON RELEASE, /docs file changed, /versioned-docs file changed

#1311 [2.8.6] added doc for Rancher CLI login with AzureAD
  docs/how-to-guides/new-user-guides/authentication-permissions-and-global-configuration/authentication-config/configure-azure-ad.md
  docs/reference-guides/cli-with-rancher/kubectl-utility.md
  static/img/azure-public-client-flows.png
  versioned_docs/version-2.8/how-to-guides/new-user-guides/authentication-permissions-and-global-configuration/authentication-config/configure-azure-ad.md
  versioned_docs/version-2.8/reference-guides/cli-with-rancher/kubectl-utility.md
  versioned_docs/version-2.9/how-to-guides/new-user-guides/authentication-permissions-and-global-configuration/authentication-config/configure-azure-ad.md
  versioned_docs/version-2.9/reference-guides/cli-with-rancher/kubectl-utility.md
Labels: MERGE ON RELEASE, /docs file changed, /versioned-docs file changed

#1396 [2.8.6] Doc how to pin an unpinned webhook
  docs/reference-guides/rancher-webhook.md
  versioned_docs/version-2.8/reference-guides/rancher-webhook.md
  versioned_docs/version-2.9/reference-guides/rancher-webhook.md
Labels: MERGE ON RELEASE, /docs file changed, /versioned-docs file changed

#1388 Update Versions Table - v2.8.6
  src/pages/versions.md
Labels: MERGE ON RELEASE

#1387 Update Versions Table - v2.7.15
  src/pages/versions.md
Labels: MERGE ON RELEASE

#1398 Update Webhook Table - v2.8.6
  versioned_docs/version-2.8/reference-guides/rancher-webhook.md
Labels: MERGE ON RELEASE, /versioned-docs file changed

#1397 Update Webhook Table - v2.7.15
  versioned_docs/version-2.7/reference-guides/rancher-webhook.md
Labels: MERGE ON RELEASE, /versioned-docs file changed

#1406 Update CSP Adapter Table - v2.8.6
  versioned_docs/version-2.8/integrations-in-rancher/cloud-marketplace/aws-cloud-marketplace/install-adapter.md
Labels: MERGE ON RELEASE, /versioned-docs file changed

#1405 Update CSP Adapter Table - v2.7.15
  versioned_docs/version-2.7/integrations-in-rancher/cloud-marketplace/aws-cloud-marketplace/install-adapter.md
Labels: MERGE ON RELEASE, /versioned-docs file changed

#1411 Update Deprecated Features Table - v2.8.6
  versioned_docs/version-2.8/faq/deprecated-features.md
Labels: MERGE ON RELEASE

#1410 Update Deprecated Features Table - v2.7.15
  versioned_docs/version-2.7/faq/deprecated-features.md
Labels: MERGE ON RELEASE

#1437 [v2.9.1][v2.8.7] Aug 2024 CNI popularity update
  shared-files/_cni-popularity.md
Labels: MERGE ON RELEASE

#1385 [2.9.1][2.8-Next1] Add info about Private Registry Credentials covering backup labels
  docs/how-to-guides/new-user-guides/authentication-permissions-and-global-configuration/global-default-private-registry.md
  versioned_docs/version-2.8/how-to-guides/new-user-guides/authentication-permissions-and-global-configuration/global-default-private-registry.md
  versioned_docs/version-2.9/how-to-guides/new-user-guides/authentication-permissions-and-global-configuration/global-default-private-registry.md
Labels: MERGE ON RELEASE, /docs file changed, /versioned-docs file changed
